/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f8e7; /* Fondo claro y fresco */
}

.content {
    position: absolute;
    top: 90px;
    width: 70%;
}

/* Header */
header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    position: fixed; /* Fijo en la parte superior */
    width: 100%;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

header h1 {
    font-size: 24px;
    color: #333;
}

.notification img,
.user img,
.message img
{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons .icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Menús desplegables de perfil y notificaciones */
.profile-menu, .notification-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    right: 20px;
    top: 60px;
    width: 200px;
    padding: 10px;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-menu a, .notification-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.profile-menu a:hover, .notification-menu a:hover {
    background-color: #dfe7df; /* Color sutil al pasar el mouse */
    color: #333;
}
